<nav class="navBar">
    <h1>PokeCenter</h1>
    <ul class="navLinks">
        <li><a href="/" class="pokeLink">Pokemon</a></li>
        <li><a href="/trainer" class="trainerLink">Trainers</a></li>
    </ul>
</nav>