<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <form action="/trainer/new" method="post">
            <label for="trainerName">Name: </label>
            <input type="text" name="trainerName" id="trainerName">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>