@import url('https://fonts.googleapis.com/css2?family=Anta&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "Anta", sans-serif;
    --sub-font: "Quantico", sans-serif;
}

body {
    background-color: #FCECDD;
}

a {
    text-decoration: none;
}

h1 {
  font-family: var(--main-font);
  font-size: 2rem;
  color: #FCECDD;
}

.navLinks {
  font-family: var(--sub-font);
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 0.8rem;
}

.navBar {
    background-color: #EA2F14;
    padding: 1.2rem;
    display: flex;
    gap: 2rem;
}

.pokeLink,
.trainerLink {
    color: whitesmoke;
}

.pokeLink:hover,
.trainerLink:hover {
    border-bottom: 2px solid whitesmoke;
}

.main {
    display: flex;
    gap: 0.6rem;
}

.sideBar {
    font-family: var(--sub-font);
    background-color: #FB9E3A;
    padding: 1.2rem;
}

.sideBar h2 {
    text-align: center;
    padding-bottom: 0.8rem;
}

.checkbox {
    padding-bottom: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.filterBtn {
    font-family: var(--sub-font);
    border-style: none;
    width: 120px;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

.topBanner {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-bottom: 0.6rem;
}

h2 {
    font-family: var(--main-font);
}

.addPokeLink {
    font-family: var(--sub-font);
    color: black;
    background-color: whitesmoke;
    border: 2px solid #FED16A;
    padding: 0.4rem 1rem;
    margin-left: 1.2rem;
    border-radius: 1rem;
}

.rightMain {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 0.4rem;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 0.6rem;
}

.card {
    font-family: var(--sub-font);
    background-color: #FED16A;
    text-align: center;
}

.card > img {
    width: 250px;
    height: 300px;
    object-fit: contain;
    border: 2px solid orangered;
    margin-top: 30px;
}

.cardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 0 20px;
}

.type,
.status {
    padding: 0.3rem;
    border-radius: 1rem;
    font-size: 14px;
}

.statusCont {
    margin-top: 0.4rem;
}

.cardBtns {
    display: flex;
    gap: 0.6rem;
    padding: 1.2rem 0 30px 20px;
}

.submitBtn,
.deleteBtn,
.addTrainerBtn,
.delTrainerBtn,
.newPokeBtn,
.editPokeBtn,
.submitTrainerBtn {
    font-family: var(--sub-font);
    background-color: whitesmoke;
    border-style: none;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

button:hover,
.filterBtn:hover,
.addPokeLink:hover {
    background-color: #E6521F;
    cursor: pointer;
}

.addPokeLink:hover {
    border: 2px solid #E6521F;
}

/* TRAINER ROUTE */
.trainerTopbanner {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem;
}

.addTrainerBtn,
.submitTrainerBtn {
    border: 2px solid #FED16A;
}

.addTrainerBtn:hover,
.submitTrainerBtn:hover {
    background-color: #E6521F;
    border: 2px solid #E6521F;
}

.trainerMain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: start;

    padding: 0.8rem;
}

.trainerCard {
    font-family: var(--sub-font);
    background-color: #FED16A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8rem;
}

.trainerName {
    font-family: var(--main-font);
    padding-bottom: 1rem;
}

.pokeList {
    padding: 1rem;
}

.pokeStat {
    margin-bottom: 1rem;
}

.pokeList li {
    padding-bottom: 0.4rem;
}

.delTrainerBtn {
    margin-top: 1rem;
}

dialog {
    font-family: var(--sub-font);
    background-color: #FCECDD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1.2rem;
}

input,
select {
    font-family: var(--sub-font);
    height: 1.8rem;
    padding: 0.2rem;
}

/*  NEW POKEMON FORM */

.newPokemonForm,
.editPokeForm {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.8rem;
}

.newPokeFormCont,
.editPokeFormCont {
    font-family: var(--sub-font);
    background-color: #FED16A;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    padding: 0.8rem;
    margin-top: 1.2rem;
}

.newPokeFormCont > div,
.editPokeFormCont > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newPokeFormCont > div > input,
.editPokeFormCont > div > input,
select {
    width: 500px;
}

.editImg {
    display: flex;
    flex-direction: column;
    text-align: center;

    border: 2px solid orangered;
}

.imgPreview {
    width: 60%;
    height: 250px;
    object-fit: contain;
}
