* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navLinks {
    display: flex;
    list-style-type: none;
    /* border: 2px solid green; */
    align-items: center;
    gap: 0.8rem;
}

.navBar {
    border: 2px solid black;
    padding: 1.2rem;
    display: flex;
    gap: 2rem;
}

.main {
    display: flex;
    gap: 0.6rem;
}

.sideBar {
    border: 2px solid pink;
    padding: 1.2rem;
}

.sideBar h2 {
    text-align: center;
    padding-bottom: 0.8rem;
}

.checkbox {
    padding-bottom: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.filterBtn {
    width: 100px;
    border-style: none;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

.topBanner {
    display: flex;
    border: 2px solid plum;
    align-items: center;
    gap: 0.2rem;
    padding-bottom: 0.4rem;
}

.rightMain {
    width: 100%;
    padding: 0 0.8rem 0.8rem 0.4rem;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    border: 2px solid maroon;
    gap: 0.6rem;
}

.card {
    border: 2px solid purple;
    text-align: center;
}

.card > img {
    width: 250px;
    height: 300px;
    object-fit: contain;
    border: 2px solid orange;
    margin-top: 30px;
}

.cardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px 0 30px;
}

.cardBtns {
    display: flex;
    gap: 0.6rem;
    padding: 8px 0 30px 30px;
}

.submitBtn,
.deleteBtn,
.addTrainerBtn,
.delTrainerBtn {
    border-style: none;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

/* TRAINER ROUTE */
.trainerTopbanner {
    display: flex;
    border: 2px solid plum;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem;
}

.trainerMain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: start;

    padding: 0.8rem;
}

.trainerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid peachpuff;
    padding: 0.8rem;
}

.trainerName {
    padding-bottom: 1rem;
}

.pokeList {
    padding: 1rem;
}

.pokeList li {
    padding-bottom: 0.4rem;
}

.delTrainerBtn {
    margin-top: 1rem;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1.2rem;
}

dialog  form  input {
    height: 1.8rem;
    padding: 0.2rem;
}